<!-- Area de Info Detallada del Campo Programatico-->
<div class="text-center">
    <div class="row">        
        <div class="col-lg-12">            
                <div ui-view="infoCampoProg">
                    <!-- datos detallados del Campo Programatico Seleccionado Anteriormente -->
                </div>            
        </div>
    </div>
</div>
<!-- END - Area de Info Detallada del Campo Programatico-->
<!-- Area de Administracion de Lineas del Campo -->
<div class="text-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div ui-view="lineasCampoProg">
                    <!-- ABM y Lista de Tipos de Lineas para el Campo Programatico -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END - Area de Administracion de Lineas del Campo-->
