<!--Area de Carga de Dictamenes-->
<div class="row">
    <div class="col-lg-12">
        <div ui-view="infoTipoDictamen">
            <!-- datos adicionales dependiendo si es un dictamen institucional o jurisdiccional -->
        </div>                      
    </div>
</div>
<!-- END - Area de Carga de Dictamenes-->

<!--Tabla de Listado de  Dictamenes-->
<div class="row">
    <div class="col-lg-12">
        <div ui-view="listaTipoDictamen">
            <!-- area para mostrar el listado de los dictamenes existentes segun su tipo -->
        </div>              
    </div>
</div>
<!-- END - Tabla de Listado de Dictamanes-->